.nav-bar {
    padding: 20px 10vw 20px 10vw;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #1B3D6A;
    color: white;
}

.nav-bar a {
    margin-right: 3vw;
}

.nav-bar a:last-child {
    margin-right: 0;
}

.container {
    padding: 10vh 10vw 10vh 10vw;
}

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/hero.png');
    box-sizing: border-box;
    width: 100%;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.top-players {
    margin: -5px;
    width: 100%;
}

.top-player-profile {
    margin: 5px;
}

.player-search-form {
    width: 40%;
}

.top-players-swiper {
    width: min-content !important;
}

.top-players-box {
    width: min-content;
}

@media (max-width: 1176px) {
    .hero-image {
        flex-direction: column-reverse;
        align-items: center;
    }

    .player-search-form {
        width: 100%;
    }

    .top-players-box {
        width: 100%;
    }
}

.driver-stat {
    width: 200px;
}

@media (max-width: 538px) {
    .driver-stat {
        width: 50%;
    }

}

.overflow-scroll-gradient {
    position: relative;
}


@media (max-width: 774px) {
    .overflow-scroll-gradient:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        pointer-events: none;
    }
}